# Dependencies
/vendor/
/composer.lock

# Tooling Cache Directories
/.phpunit.cache/
/.php-cs-fixer.cache
/.phpstan-cache/

# IDE and environment files
.vagrant/
.vscode/
.idea/
*.komodoproject

# Build artifacts
/manifest

# Log files
*.log
